*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    color: #ffffff;
    font-family: "Nunito Extra Bold", sans-serif;
    font-size: 42px;
    line-height: 101%;
}

/* FONTS */
@font-face {
    font-family: "Nunito Extra Bold";
    src: url("../fonts/Nunito-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Ranchers";
    src: url("../fonts/Ranchers-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Barlow Condensed";
    src: url("../fonts/BarlowCondensed-Bold.ttf") format("truetype");
    font-weight: 700;
}
